<button class="btn btn-danger" data-bind="click: togglePower, enable: powerButtonEnabled, css: {active: powerButtonState, disabled: !powerButtonEnabled()}" data-toggle="button"><i class="icon-bolt"></i> {{ _('12V') }}</button>
