<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.pbpilink.power_on_startup"> {{ _('Automatically power on on start up of OctoPrint') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.pbpilink.power_off_shutdown"> {{ _('Automatically power off on shut down of OctoPrint') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.pbpilink.power_on_clients"> {{ _('Automatically power on when a client connects') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.pbpilink.power_off_noclients"> {{ _('Automatically power off a minute after the last client disconnects when not printing') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.pbpilink.power_on_connect"> {{ _('Power on before connecting to printer') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.pbpilink.power_off_disconnect"> {{ _('Power off after disconnecting from printer') }}
            </label>
        </div>
    </div>
</form>
